body {
  background: #fd73ac;
}
canvas {
    display: block;
    margin: 0 auto;
  }
.rats {
  display: flex;
  justify-content: space-around;
  padding: 100px;
}
h1 {
  font-family: corn-dog, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 800%;
  letter-spacing: -9px;
  line-height: 135px;
  margin: 0 auto;
  text-align: center;
  padding-top: 80px;
  padding-left: 300px;
  padding-right: 300px;
}

.explainer {
  font-family: hobeaux, sans-serif;
  font-weight: 400;
  height: 125px;
  color: #f4b1cd;
  font-size: 120%;
  padding-left: 400px;
  padding-right: 400px;
  padding-top: 50px;
}
.yeardisplay {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: hobeaux, sans-serif;
  font-weight: 700;
  height: 125px;
  color: #f4b1cd;
  font-size: 500%;
}
.rat {
  max-width: 900px;
}
.container__buttons {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 30px;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 80px;
  left: 10px;
  overflow-x: hidden;
  padding: 10px 50px;

}
button {
  border: none;
  padding: 10px;
  margin: 20px;
  background-color: #fd73ac;
  border: solid 5px #d62477;
  color: #d62477;
  font-family: hobeaux, sans-serif;
font-weight: 700;
  font-size: 120%;
  font-style: normal;
  border-radius: 6px;

}
button:hover{
  border: none;
  padding: 10px;
  margin: 20px;
  background-color: #04ffff;
  color: #d62477;
  font-family: hobeaux, sans-serif;
font-weight: 700;
  font-size: 120%;
  font-style: normal;
  border-radius: 6px;
  border: solid 5px #04ffff;
  filter: drop-shadow(5px 5px 0px #00c7c7);
}
.container__buttons {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}