body {
  background: #fd73ac;
}
canvas {
    display: block;
    margin: 0 auto;
  }
  
[disabled] {
      opacity: 0.5;
  }

h2 {
  font-family: corn-dog, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 800%;
  letter-spacing: -9px;
  line-height: 90px;
  margin: 0 auto;
  text-align: center;
}

p, #yr, #mo, #orders {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 120%;
  padding: 18px;

}

.details {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  border: none;
  padding: 10px;
  margin: 9px;
  background-color: #299481;
  color: white;
  font-family: corn-dog, sans-serif;
  font-weight: 400;
  font-size: 200%;
  font-style: normal;
}
.container__buttons {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}